
@mixin transition($seconds) {
    -webkit-transform: translateZ(0);
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds ease;
}
@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}
header {
    
    height: 60px;
    .logo {
        height: 100%;
        line-height: 60px;
        list-style-position: 60px;
        h1, h2 {
            margin: 0;
            padding: 0;
        }
    }
    .hamburger {
        position: absolute;
        right: 1vw;
        z-index: 3;
        height: 50px;
        width: 50px;
        cursor: pointer;
        display: block;
        @include transition(0.3s);
        @include rotate(0deg);
        span {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            height: 5px;
            width: 40px;
            background: #fff;
            opacity: 1;
            @include transition(0.3s);
            @include rotate(0deg);
            &:nth-child(1) {
                top: 10px;
            }
            &:nth-child(2) {
                top: 27px;
            }
            &:nth-child(3) {
                top: 44px;
            }
        } 
        &.open span {
            &:nth-child(1) {
                top: 27px;
                @include rotate(-135deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                top: 27px;
                @include rotate(135deg);
            }
        }
    }
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 40px;   
}
h5 {
    font-size: 18px;   
}
header section.menu {
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 60px 0 15px;
    display: none;
    z-index: 2;
    background: rgba(0,121,191,0.5);
    a {
        background: rgba(0,0,0,0.8);
        border: none;
        display: block;
        width: 90%;
        margin: 2% 5%;
    }
    &.active {
        display: block
    }   
}
section.menu.homepage {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 50px;
    a {
        display: block;
        width: 90%;
        padding: 0;
        margin: 2% 5%;
        line-height: 50px;
        h3, h4 {
            display: inline-block;
        }
    }
}

.page-title {
    font-size: 35px; 
}

.find-form {
    margin: 0;
    margin-top: 2vh;
    .radio-buttons input {
        width: 45px;
    }
}
.main-col {
    .listing {
        height: 200px;
        h3 {
            font-size: 20px;
        }
        h6 {
            text-align: center;
            padding: 0;
        }
        h4 {
            padding: 80px 0 0;
            text-align: center;
        }
        .ratings {
            left: 0;
            .rate {
                width: 18.5%;
                
                .label {
                    line-height: 30px;
                    font-size: 12px;
                    height: 30px;
                    padding: 0;
                }
                .num {
                    font-size: 20px;
                    line-height: 50px;
                }
            }
        }
    
        &.overall {
            height: 100px;
            .ratings {
                .rate {
                    width: 18.5%;
                }
            }
        }
        &.full {
            height: 400px;
            border-bottom-width: 3px;
            .ratings {
                height: 200px;
                .rate {
                    
                    &:first-of-type {
                        margin-top: 5px;   
                    }
                    width: 100%;
                    div {
                        
                        &.label {
                            width: 49%;
                            margin-top: 0;
                        }
                        &.num {
                            width: 49%;
                            line-height: 37px;
                        }
                    }
                }
            }
            .comments {
                position: absolute;
                height: 180px;
                width: 90%;
                top: 200px;
                left: 0;
                margin: 10px 5%;
            }
        }
        h5 {
            line-height: 50px;   
        }
        &.small {
            height: 50px;
        }
        &.last {
            padding-top: 5px;
            height: 80px;   
        }
    }
}

footer {
    display: none;
    width: 100%;
    bottom: 2%;
}