/* line 17, C:/xampp/htdocs/mobile.scss */
header {
  height: 60px; }
  /* line 20, C:/xampp/htdocs/mobile.scss */
  header .logo {
    height: 100%;
    line-height: 60px;
    list-style-position: 60px; }
    /* line 24, C:/xampp/htdocs/mobile.scss */
    header .logo h1, header .logo h2 {
      margin: 0;
      padding: 0; }
  /* line 29, C:/xampp/htdocs/mobile.scss */
  header .hamburger {
    position: absolute;
    right: 1vw;
    z-index: 3;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
    /* line 39, C:/xampp/htdocs/mobile.scss */
    header .hamburger span {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: 5px;
      width: 40px;
      background: #fff;
      opacity: 1;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
      /* line 52, C:/xampp/htdocs/mobile.scss */
      header .hamburger span:nth-child(1) {
        top: 10px; }
      /* line 55, C:/xampp/htdocs/mobile.scss */
      header .hamburger span:nth-child(2) {
        top: 27px; }
      /* line 58, C:/xampp/htdocs/mobile.scss */
      header .hamburger span:nth-child(3) {
        top: 44px; }
    /* line 63, C:/xampp/htdocs/mobile.scss */
    header .hamburger.open span:nth-child(1) {
      top: 27px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    /* line 67, C:/xampp/htdocs/mobile.scss */
    header .hamburger.open span:nth-child(2) {
      opacity: 0; }
    /* line 70, C:/xampp/htdocs/mobile.scss */
    header .hamburger.open span:nth-child(3) {
      top: 27px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }

/* line 78, C:/xampp/htdocs/mobile.scss */
h1 {
  font-size: 40px; }

/* line 81, C:/xampp/htdocs/mobile.scss */
h2 {
  font-size: 40px; }

/* line 84, C:/xampp/htdocs/mobile.scss */
h5 {
  font-size: 18px; }

/* line 87, C:/xampp/htdocs/mobile.scss */
header section.menu {
  display: block;
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 60px 0 15px;
  display: none;
  z-index: 2;
  background: rgba(0, 121, 191, 0.5); }
  /* line 98, C:/xampp/htdocs/mobile.scss */
  header section.menu a {
    background: rgba(0, 0, 0, 0.8);
    border: none;
    display: block;
    width: 90%;
    margin: 2% 5%; }
  /* line 105, C:/xampp/htdocs/mobile.scss */
  header section.menu.active {
    display: block; }

/* line 109, C:/xampp/htdocs/mobile.scss */
section.menu.homepage {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 50px; }
  /* line 114, C:/xampp/htdocs/mobile.scss */
  section.menu.homepage a {
    display: block;
    width: 90%;
    padding: 0;
    margin: 2% 5%;
    line-height: 50px; }
    /* line 120, C:/xampp/htdocs/mobile.scss */
    section.menu.homepage a h3, section.menu.homepage a h4 {
      display: inline-block; }

/* line 126, C:/xampp/htdocs/mobile.scss */
.page-title {
  font-size: 35px; }

/* line 130, C:/xampp/htdocs/mobile.scss */
.find-form {
  margin: 0;
  margin-top: 2vh; }
  /* line 133, C:/xampp/htdocs/mobile.scss */
  .find-form .radio-buttons input {
    width: 45px; }

/* line 138, C:/xampp/htdocs/mobile.scss */
.main-col .listing {
  height: 200px; }
  /* line 140, C:/xampp/htdocs/mobile.scss */
  .main-col .listing h3 {
    font-size: 20px; }
  /* line 143, C:/xampp/htdocs/mobile.scss */
  .main-col .listing h6 {
    text-align: center;
    padding: 0; }
  /* line 147, C:/xampp/htdocs/mobile.scss */
  .main-col .listing h4 {
    padding: 80px 0 0;
    text-align: center; }
  /* line 151, C:/xampp/htdocs/mobile.scss */
  .main-col .listing .ratings {
    left: 0; }
    /* line 153, C:/xampp/htdocs/mobile.scss */
    .main-col .listing .ratings .rate {
      width: 18.5%; }
      /* line 156, C:/xampp/htdocs/mobile.scss */
      .main-col .listing .ratings .rate .label {
        line-height: 30px;
        font-size: 12px;
        height: 30px;
        padding: 0; }
      /* line 162, C:/xampp/htdocs/mobile.scss */
      .main-col .listing .ratings .rate .num {
        font-size: 20px;
        line-height: 50px; }
  /* line 169, C:/xampp/htdocs/mobile.scss */
  .main-col .listing.overall {
    height: 100px; }
    /* line 172, C:/xampp/htdocs/mobile.scss */
    .main-col .listing.overall .ratings .rate {
      width: 18.5%; }
  /* line 177, C:/xampp/htdocs/mobile.scss */
  .main-col .listing.full {
    height: 400px;
    border-bottom-width: 3px; }
    /* line 180, C:/xampp/htdocs/mobile.scss */
    .main-col .listing.full .ratings {
      height: 200px; }
      /* line 182, C:/xampp/htdocs/mobile.scss */
      .main-col .listing.full .ratings .rate {
        width: 100%; }
        /* line 184, C:/xampp/htdocs/mobile.scss */
        .main-col .listing.full .ratings .rate:first-of-type {
          margin-top: 5px; }
        /* line 190, C:/xampp/htdocs/mobile.scss */
        .main-col .listing.full .ratings .rate div.label {
          width: 49%;
          margin-top: 0; }
        /* line 194, C:/xampp/htdocs/mobile.scss */
        .main-col .listing.full .ratings .rate div.num {
          width: 49%;
          line-height: 37px; }
    /* line 201, C:/xampp/htdocs/mobile.scss */
    .main-col .listing.full .comments {
      position: absolute;
      height: 180px;
      width: 90%;
      top: 200px;
      left: 0;
      margin: 10px 5%; }
  /* line 210, C:/xampp/htdocs/mobile.scss */
  .main-col .listing h5 {
    line-height: 50px; }
  /* line 213, C:/xampp/htdocs/mobile.scss */
  .main-col .listing.small {
    height: 50px; }
  /* line 216, C:/xampp/htdocs/mobile.scss */
  .main-col .listing.last {
    padding-top: 5px;
    height: 80px; }

/* line 223, C:/xampp/htdocs/mobile.scss */
footer {
  display: none;
  width: 100%;
  bottom: 2%; }

/*# sourceMappingURL=mobile.css.map */