*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

html, body {margin:0;padding:0;height:100%;}

@mixin transition($seconds) {
    -webkit-transform: translateZ(0);
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds ease;
}

$primary: #0079bf;
$primary-t: rgba(0,121,191,0.5);
$bg-color: rgba(0,0,0,0.8);

h1 {
    font-size: 70px;
    font-weight: 100;
    text-transform: uppercase;
}
h2 {
    font-size: 70px;
    font-weight: 400;
    color: $primary;
}
h3 {
    font-size: 30px;
    font-weight: 100;
}
h4 {
    font-size: 30px;
    font-weight: 400;
}
h5 {
    font-size: 40px;
    font-weight: 100;
}
h6 {
    font-size: 20px;
    font-weight: 100;
}
p {
    font-size: 18px;
    max-width: 700px;
    color: #333;
}



.bg {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(/img/dorm.jpg) no-repeat center center;
    background-size: cover;
}
header {
    z-index: 2;
    position: relative;
    background: $bg-color;
    height: 100px;
    width: 100%;
    top: 2vh;
    text-align: right;
    .logo {
        position: absolute;
        left: 0;
        line-height: 100px;
        width: auto;
        height: 100px;
        padding-left: 20px;
        h1, h2 {
            display: inline-block;
            @include transition(0.3s);
        }
        &:hover {
            h1 {
                color: $primary;
            }
            h2 {
                color: #fff;
            }    
        }
    }
    
    .login-register-button {
        display: inline-block;
        height: 80px;
        padding: 0;
        text-decoration: none;
        border: 2px solid $primary;
        text-transform: uppercase;
        @include transition(0.3s);
        margin: 10px 20px;
        vertical-align: top;
        background: $primary;
        width: 120px;
        text-align: center;
        cursor: pointer;
        &:hover {
//            padding: 10px 0;
        }
        h3 {
            font-size: 20px;
            padding: 10px 10px 0 10px;
        }
        h4 {
            font-size: 20px;
            padding: 0 10px 10px 10px;
            @include transition(0.3s);
            border-top: 1px solid #fff; 
        }
        input {
            border: none;
            width: 0;
//            display: none;
            position: relative;
            @include transition(0.3s);
        }
        &.expanded {
            height: 260px;
            width: 280px;
            input {
                margin: 10px auto;
                display: block;
                width: 220px;
                line-height: 24px;
                border: none;
                background: #fff;
                color: $bg-color;
                &:last-of-type {
                    display: block;
                    color: #fff;
                    width: 180px;
                    margin: 10px auto;
                    border: none;
                    background: $bg-color;
                    line-height: 24px;
                    cursor: pointer;
                    @include transition(0.2s);
                    &:hover {
                        background-color: rgba(0,0,0,0.6);  
                    }
                }
            }
            a {
                display: block;
            }
        }
        a {
            display: none;
            text-transform: capitalize;
        }
    }
    
    .hamburger {
        display: none;   
    }
}

header section.menu {
    position: relative;
    display: inline-block;
    width: auto;
    right: 0;
    height: 100px;
    padding-right: 2%;
    a {
        display: inline-block;
        height: 80px;
        padding: 10px 10px;
        margin: 10px 3px;
        text-decoration: none;
        border: 2px solid $primary;
        text-transform: uppercase;
        @include transition(0.3s);
        &:hover {
            background: $primary;   
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 30px;
        }
    }
}

section.menu.homepage {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100px;
    a {
        display: inline-block;
        height: 100%;
        padding: 14px 30px;
        margin: 10px;
        text-decoration: none;
        background: $bg-color;
        text-transform: uppercase;
        @include transition(0.3s);
        &:hover {
            background: $primary;   
        }
    }
}

.page-title {
    position: relative;
    width: 100%;
    margin-top: 4vh;
    background: $bg-color;
    text-transform: capitalize;
}
.find-form {
    position: relative;
    margin: 0 auto;
    margin-top: 2vh;
    background: $bg-color;
    width: auto;
    max-width: 500px;
    padding: 30px;
    input,textarea {
        border: none;
        line-height: 30px;
        font-size: 18px;
        color: #555;
        background: #ccc;
        margin: 10px 0;
        width: 60%;
        max-width: 250px;
    }
    button {
        background: transparent;
        border: none;
        border: 2px solid $primary;
        width: 60%;
        max-width: 250px;
        height: 30px;
        font-size: 18px;
        margin: 10px 0;
        @include transition(0.3s);
        &:hover {
            background: $primary;   
        }
    }
    .radio-buttons input{
        display: inline-block;
        width: 11%;
    }
}

.main-col {
    position: relative;
    display: inline-block;
    max-width: 1000px;
    width: 90%;
    margin-top: 2vh;
    height: auto;
    background: $bg-color;
    .listing {
        display: block;
        position: relative;
        width: 100%;
        height: 150px;
        border-bottom: 1px solid $primary;
        @include transition(0.3s);
        h4 {
            text-align: left;
            padding-top: 40px;
            padding-left: 30px;
            &.not-found {
                text-align: center;
                padding: 0;
                
            }
        }
        h6 {
            padding-left: 30px;
            text-align: left;
        }
        h5 {
            line-height: 150px;   
        }
        .ratings {
            position: absolute;
            display: inline-block;
            right: 0;
            top: 0;
            .rate {
                display: inline-block;
                .label {
                    line-height: 40px;
                    padding: 0 10px;
                    background: $primary-t;
                    font-weight: 300;
                    font-size: 16px;
                    text-transform: uppercase;
                }
                .num {
                    font-size: 40px;
                    font-weight: 100;
                    line-height: 90px;
                    
                }
                &:first-of-type .num {
                    font-weight: 500;   
                }
            }
        }
        &:last-of-type {
            padding-top: 35px;
        }
        &:hover {
            background: $primary-t;
        }
        &.overall {
            .ratings {
                width: 100%;
                .rate {
                    width: 19.5%   
                }
            }
        }
        &.full {
            height: 250px;
            .ratings {
                position: absolute;
                left: 0;
                .rate {
                    display: block;
                    text-align: left;
                    border-bottom: 1px solid $primary-t;
                    width: 300px;
                    &:first-of-type {
                        margin-top: 15px;   
                    }
                    
                    div {
                        display: inline-block;
                        &.label {
                            margin-top: 2px;
                            width: 150px;
                        }
                        &.num {
                            font-size: 24px;
                            line-height: 40px;
                            width: 146px;
                            vertical-align: bottom;
                        }
                    }
                }
            }
            .comments {
                position: absolute;
                height: 80%;
                right: 0;
                top: 10%;
                width: 50%;
                margin: 0 2%;
                background: #aaa;
                
                p {
                    padding: 8%;
                    text-align: left;
                }   
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 10%;
    right: 0;
    a {
        display: block;
        background: $primary-t;
        padding: 10px 20px;
        text-transform: uppercase;
        text-decoration: none;
        @include transition(0.3s);
        &:hover {
            background: $primary;  
        }
    }
}
