/* line 1, C:/xampp/htdocs/css/style.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, C:/xampp/htdocs/css/style.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  list-style-type: none;
  text-decoration: none; }

/* line 16, C:/xampp/htdocs/css/style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 31, C:/xampp/htdocs/css/style.scss */
h1 {
  font-size: 70px;
  font-weight: 100;
  text-transform: uppercase; }

/* line 36, C:/xampp/htdocs/css/style.scss */
h2 {
  font-size: 70px;
  font-weight: 400;
  color: #0079bf; }

/* line 41, C:/xampp/htdocs/css/style.scss */
h3 {
  font-size: 30px;
  font-weight: 100; }

/* line 45, C:/xampp/htdocs/css/style.scss */
h4 {
  font-size: 30px;
  font-weight: 400; }

/* line 49, C:/xampp/htdocs/css/style.scss */
h5 {
  font-size: 40px;
  font-weight: 100; }

/* line 53, C:/xampp/htdocs/css/style.scss */
h6 {
  font-size: 20px;
  font-weight: 100; }

/* line 57, C:/xampp/htdocs/css/style.scss */
p {
  font-size: 18px;
  max-width: 700px;
  color: #333; }

/* line 65, C:/xampp/htdocs/css/style.scss */
.bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(/img/dorm.jpg) no-repeat center center;
  background-size: cover; }

/* line 73, C:/xampp/htdocs/css/style.scss */
header {
  z-index: 2;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  height: 100px;
  width: 100%;
  top: 2vh;
  text-align: right; }
  /* line 81, C:/xampp/htdocs/css/style.scss */
  header .logo {
    position: absolute;
    left: 0;
    line-height: 100px;
    width: auto;
    height: 100px;
    padding-left: 20px; }
    /* line 88, C:/xampp/htdocs/css/style.scss */
    header .logo h1, header .logo h2 {
      display: inline-block;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    /* line 93, C:/xampp/htdocs/css/style.scss */
    header .logo:hover h1 {
      color: #0079bf; }
    /* line 96, C:/xampp/htdocs/css/style.scss */
    header .logo:hover h2 {
      color: #fff; }
  /* line 102, C:/xampp/htdocs/css/style.scss */
  header .login-register-button {
    display: inline-block;
    height: 80px;
    padding: 0;
    text-decoration: none;
    border: 2px solid #0079bf;
    text-transform: uppercase;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 10px 20px;
    vertical-align: top;
    background: #0079bf;
    width: 120px;
    text-align: center;
    cursor: pointer; }
    /* line 119, C:/xampp/htdocs/css/style.scss */
    header .login-register-button h3 {
      font-size: 20px;
      padding: 10px 10px 0 10px; }
    /* line 123, C:/xampp/htdocs/css/style.scss */
    header .login-register-button h4 {
      font-size: 20px;
      padding: 0 10px 10px 10px;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-top: 1px solid #fff; }
    /* line 129, C:/xampp/htdocs/css/style.scss */
    header .login-register-button input {
      border: none;
      width: 0;
      position: relative;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    /* line 136, C:/xampp/htdocs/css/style.scss */
    header .login-register-button.expanded {
      height: 260px;
      width: 280px; }
      /* line 139, C:/xampp/htdocs/css/style.scss */
      header .login-register-button.expanded input {
        margin: 10px auto;
        display: block;
        width: 220px;
        line-height: 24px;
        border: none;
        background: #fff;
        color: rgba(0, 0, 0, 0.8); }
        /* line 147, C:/xampp/htdocs/css/style.scss */
        header .login-register-button.expanded input:last-of-type {
          display: block;
          color: #fff;
          width: 180px;
          margin: 10px auto;
          border: none;
          background: rgba(0, 0, 0, 0.8);
          line-height: 24px;
          cursor: pointer;
          -webkit-transform: translateZ(0);
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease; }
          /* line 157, C:/xampp/htdocs/css/style.scss */
          header .login-register-button.expanded input:last-of-type:hover {
            background-color: rgba(0, 0, 0, 0.6); }
      /* line 162, C:/xampp/htdocs/css/style.scss */
      header .login-register-button.expanded a {
        display: block; }
    /* line 166, C:/xampp/htdocs/css/style.scss */
    header .login-register-button a {
      display: none;
      text-transform: capitalize; }
  /* line 172, C:/xampp/htdocs/css/style.scss */
  header .hamburger {
    display: none; }

/* line 177, C:/xampp/htdocs/css/style.scss */
header section.menu {
  position: relative;
  display: inline-block;
  width: auto;
  right: 0;
  height: 100px;
  padding-right: 2%; }
  /* line 184, C:/xampp/htdocs/css/style.scss */
  header section.menu a {
    display: inline-block;
    height: 80px;
    padding: 10px 10px;
    margin: 10px 3px;
    text-decoration: none;
    border: 2px solid #0079bf;
    text-transform: uppercase;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    /* line 193, C:/xampp/htdocs/css/style.scss */
    header section.menu a:hover {
      background: #0079bf; }
    /* line 196, C:/xampp/htdocs/css/style.scss */
    header section.menu a h3 {
      font-size: 20px; }
    /* line 199, C:/xampp/htdocs/css/style.scss */
    header section.menu a h4 {
      font-size: 30px; }

/* line 205, C:/xampp/htdocs/css/style.scss */
section.menu.homepage {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 100px; }
  /* line 210, C:/xampp/htdocs/css/style.scss */
  section.menu.homepage a {
    display: inline-block;
    height: 100%;
    padding: 14px 30px;
    margin: 10px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    /* line 219, C:/xampp/htdocs/css/style.scss */
    section.menu.homepage a:hover {
      background: #0079bf; }

/* line 225, C:/xampp/htdocs/css/style.scss */
.page-title {
  position: relative;
  width: 100%;
  margin-top: 4vh;
  background: rgba(0, 0, 0, 0.8);
  text-transform: capitalize; }

/* line 232, C:/xampp/htdocs/css/style.scss */
.find-form {
  position: relative;
  margin: 0 auto;
  margin-top: 2vh;
  background: rgba(0, 0, 0, 0.8);
  width: auto;
  max-width: 500px;
  padding: 30px; }
  /* line 240, C:/xampp/htdocs/css/style.scss */
  .find-form input, .find-form textarea {
    border: none;
    line-height: 30px;
    font-size: 18px;
    color: #555;
    background: #ccc;
    margin: 10px 0;
    width: 60%;
    max-width: 250px; }
  /* line 250, C:/xampp/htdocs/css/style.scss */
  .find-form button {
    background: transparent;
    border: none;
    border: 2px solid #0079bf;
    width: 60%;
    max-width: 250px;
    height: 30px;
    font-size: 18px;
    margin: 10px 0;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    /* line 260, C:/xampp/htdocs/css/style.scss */
    .find-form button:hover {
      background: #0079bf; }
  /* line 264, C:/xampp/htdocs/css/style.scss */
  .find-form .radio-buttons input {
    display: inline-block;
    width: 11%; }

/* line 270, C:/xampp/htdocs/css/style.scss */
.main-col {
  position: relative;
  display: inline-block;
  max-width: 1000px;
  width: 90%;
  margin-top: 2vh;
  height: auto;
  background: rgba(0, 0, 0, 0.8); }
  /* line 278, C:/xampp/htdocs/css/style.scss */
  .main-col .listing {
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #0079bf;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    /* line 285, C:/xampp/htdocs/css/style.scss */
    .main-col .listing h4 {
      text-align: left;
      padding-top: 40px;
      padding-left: 30px; }
      /* line 289, C:/xampp/htdocs/css/style.scss */
      .main-col .listing h4.not-found {
        text-align: center;
        padding: 0; }
    /* line 295, C:/xampp/htdocs/css/style.scss */
    .main-col .listing h6 {
      padding-left: 30px;
      text-align: left; }
    /* line 299, C:/xampp/htdocs/css/style.scss */
    .main-col .listing h5 {
      line-height: 150px; }
    /* line 302, C:/xampp/htdocs/css/style.scss */
    .main-col .listing .ratings {
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0; }
      /* line 307, C:/xampp/htdocs/css/style.scss */
      .main-col .listing .ratings .rate {
        display: inline-block; }
        /* line 309, C:/xampp/htdocs/css/style.scss */
        .main-col .listing .ratings .rate .label {
          line-height: 40px;
          padding: 0 10px;
          background: rgba(0, 121, 191, 0.5);
          font-weight: 300;
          font-size: 16px;
          text-transform: uppercase; }
        /* line 317, C:/xampp/htdocs/css/style.scss */
        .main-col .listing .ratings .rate .num {
          font-size: 40px;
          font-weight: 100;
          line-height: 90px; }
        /* line 323, C:/xampp/htdocs/css/style.scss */
        .main-col .listing .ratings .rate:first-of-type .num {
          font-weight: 500; }
    /* line 328, C:/xampp/htdocs/css/style.scss */
    .main-col .listing:last-of-type {
      padding-top: 35px; }
    /* line 331, C:/xampp/htdocs/css/style.scss */
    .main-col .listing:hover {
      background: rgba(0, 121, 191, 0.5); }
    /* line 335, C:/xampp/htdocs/css/style.scss */
    .main-col .listing.overall .ratings {
      width: 100%; }
      /* line 337, C:/xampp/htdocs/css/style.scss */
      .main-col .listing.overall .ratings .rate {
        width: 19.5%; }
    /* line 342, C:/xampp/htdocs/css/style.scss */
    .main-col .listing.full {
      height: 250px; }
      /* line 344, C:/xampp/htdocs/css/style.scss */
      .main-col .listing.full .ratings {
        position: absolute;
        left: 0; }
        /* line 347, C:/xampp/htdocs/css/style.scss */
        .main-col .listing.full .ratings .rate {
          display: block;
          text-align: left;
          border-bottom: 1px solid rgba(0, 121, 191, 0.5);
          width: 300px; }
          /* line 352, C:/xampp/htdocs/css/style.scss */
          .main-col .listing.full .ratings .rate:first-of-type {
            margin-top: 15px; }
          /* line 356, C:/xampp/htdocs/css/style.scss */
          .main-col .listing.full .ratings .rate div {
            display: inline-block; }
            /* line 358, C:/xampp/htdocs/css/style.scss */
            .main-col .listing.full .ratings .rate div.label {
              margin-top: 2px;
              width: 150px; }
            /* line 362, C:/xampp/htdocs/css/style.scss */
            .main-col .listing.full .ratings .rate div.num {
              font-size: 24px;
              line-height: 40px;
              width: 146px;
              vertical-align: bottom; }
      /* line 371, C:/xampp/htdocs/css/style.scss */
      .main-col .listing.full .comments {
        position: absolute;
        height: 80%;
        right: 0;
        top: 10%;
        width: 50%;
        margin: 0 2%;
        background: #aaa; }
        /* line 380, C:/xampp/htdocs/css/style.scss */
        .main-col .listing.full .comments p {
          padding: 8%;
          text-align: left; }

/* line 389, C:/xampp/htdocs/css/style.scss */
footer {
  position: fixed;
  bottom: 10%;
  right: 0; }
  /* line 393, C:/xampp/htdocs/css/style.scss */
  footer a {
    display: block;
    background: rgba(0, 121, 191, 0.5);
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    /* line 400, C:/xampp/htdocs/css/style.scss */
    footer a:hover {
      background: #0079bf; }

/*# sourceMappingURL=style.css.map */